{% include "header.html" %}

<section>
    <fieldset class="web"><legend class="web_app tag">Web Development</legend>
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col tag">
                <div class="card shadow-sm image-container hovereffect">
                    <a href="https://cafe-wifi-website.onrender.com">
                    <img src="{{ url_for('static', filename='assets/image/cafe&wifi.png') }}"
                         alt="Cafe&WiFi website" width="100%" height="275"
                    class="img-responsive">
                        <div class="overlay">
                            <h2>Cafe&WiFi website</h2>
                        </div>
                        </a>
                    </div>
                </div>
                <div class="col tag">
                    <div class="card shadow-sm image-container hovereffect">
                        <a href="https://color-picker-bpdl.onrender.com">
                        <img src="{{ url_for('static', filename='assets/image/color_picker.png') }}"
                             alt="Color Picker" width="100%" height="275"
                        class="img-responsive">
                            <div class="overlay">
                                <h2>Color Picker</h2>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col tag">
                    <div class="card shadow-sm image-container hovereffect">
                        <a href="https://dangerous-writing.onrender.com">
                        <img src="{{ url_for('static', filename='assets/image/dangerous_app.png') }}"
                             alt="Dangerous Writing App" width="100%" height="275"
                        class="img-responsive">
                            <div class="overlay">
                                <h2>Dangerous Writing App</h2>
                            </div>
                        </a>
                    </div>
                </div>
            <div class="col tag">
                <div class="card shadow-sm image-container hovereffect">
                    <a href="https://my-books-library.onrender.com/">
                    <img src="{{ url_for('static', filename='assets/image/books.png') }}"
                         alt="My books library project" width="100%" height="275"
                    class="img-responsive">
                        <div class="overlay">
                            <h2>My books library</h2>
                        </div>
                        </a>
                </div>
            </div>
            <div class="col tag">
                <div class="card shadow-sm image-container hovereffect fit">
                    <a href="https://holidays-today.onrender.com/">
                    <img src="{{ url_for('static', filename='assets/image/holidays.png') }}"
                         alt="Holidays Today (API)" width="100%" height="275"
                    class="img-responsive">
                        <div class="overlay">
                            <h2>Holidays Today (API)</h2>
                        </div>
                        </a>
                </div>
            </div>
            <div class="col tag">
                <div class="card shadow-sm image-container hovereffect">
                    <a href="https://nadyaevdokimova.github.io/drum_kit_website.io/">
                    <img src="{{ url_for('static', filename='assets/image/drum.png') }}"
                         alt="Drum Kit website" width="100%" height="275"
                    class="img-responsive">
                        <div class="overlay">
                            <h2>Drum Kit website</h2>
                        </div>
                        </a>
                </div>
            </div>
            <div class="col tag">
                 <div class="card shadow-sm image-container hovereffect">
                    <a href="https://nadyaevdokimova.github.io/dicee_game_website.io/">
                    <img src="{{ url_for('static', filename='assets/image/dice.png') }}"
                         alt="Dice Game" width="100%" height="275"
                    class="img-responsive">
                        <div class="overlay">
                            <h2>Dice Game</h2>
                        </div>
                        </a>
                </div>
            </div>
            <div class="col tag">
                 <div class="card shadow-sm image-container hovereffect">
                    <a href="https://nadyaevdokimova.github.io/Simon_game.io/">
                    <img src="{{ url_for('static', filename='assets/image/simon.png') }}"
                         alt="Simon Game" width="100%" height="275"
                    class="img-responsive">
                        <div class="overlay">
                            <h2>Simon Game</h2>
                        </div>
                        </a>
                </div>
            </div>
            <div class="col tag">
                 <div class="card shadow-sm image-container hovereffect">
                    <a href="https://free-games-website.onrender.com">
                    <img src="{{ url_for('static', filename='assets/image/free_games.png') }}"
                         alt="Free Games API website" width="100%" height="275"
                    class="img-responsive">
                        <div class="overlay">
                            <h2>Free Games API website</h2>
                        </div>
                        </a>
                </div>
            </div>
            <div class="col tag">
                 <div class="card shadow-sm image-container hovereffect">
                    <a href="https://text-to-speech-lqrt.onrender.com">
                    <img src="{{ url_for('static', filename='assets/image/text_to_voice.png') }}"
                         alt="Text to Speech converter website" width="100%" height="275"
                    class="img-responsive">
                        <div class="overlay">
                            <h2>Text to Speech Converter</h2>
                        </div>
                        </a>
                </div>
            </div>
            <div class="col tag">
                 <div class="card shadow-sm image-container hovereffect">
                    <a href="https://to-do-list-3d72.onrender.com">
                    <img src="{{ url_for('static', filename='assets/image/to_do_list.png') }}"
                         alt="To Do List website" width="100%" height="275"
                    class="img-responsive">
                        <div class="overlay">
                            <h2>To Do List</h2>
                        </div>
                        </a>
                </div>
            </div>
        </div>
    </div>

    </fieldset>

    <fieldset class="python"><legend class="python_port tag">Python apps</legend>
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col tag">
                <div class="card shadow-sm image-container hovereffect">
                    <a href="https://github.com/NadyaEvdokimova/morse_code_converter">
                    <img src="{{ url_for('static', filename='assets/image/morse.png') }}"
                         alt="code for decoder from and to morse code" width="100%" height="275"
                    class="img-responsive">
                        <div class="overlay">
                            <h2>Morse code encoder</h2>
                        </div>
                        </a>
                </div>
            </div>
            <div class="col tag">
                <div class="card shadow-sm image-container hovereffect fit">
                    <a href="https://github.com/NadyaEvdokimova/pomodoro_app_tkinter">
                    <img src="{{ url_for('static', filename='assets/image/pomodoro.png') }}"
                         alt="Pomodoro app (tkinter)" width="100%" height="275"
                    class="img-responsive">
                        <div class="overlay">
                            <h2>Pomodoro app (tkinter)</h2>
                        </div>
                        </a>
                </div>
            </div>
            <div class="col tag">
                <div class="card shadow-sm image-container hovereffect">
                    <a href="https://github.com/NadyaEvdokimova/snake_python">
                    <img src="{{ url_for('static', filename='assets/image/snake.png') }}"
                         alt="Classic Snake game" width="100%" height="275"
                    class="img-responsive">
                        <div class="overlay">
                            <h2>Classic Snake game</h2>
                        </div>
                        </a>
                </div>
            </div>
            <div class="col tag">
                 <div class="card shadow-sm image-container hovereffect">
                    <a href="https://github.com/NadyaEvdokimova/turtle-race-game">
                    <img src="{{ url_for('static', filename='assets/image/race.png') }}"
                         alt="Turtle race game" width="100%" height="275"
                    class="img-responsive">
                        <div class="overlay">
                            <h2>Turtle race game</h2>
                        </div>
                        </a>
                </div>
            </div>
            <div class="col tag">
                 <div class="card shadow-sm image-container hovereffect">
                    <a href="https://github.com/NadyaEvdokimova/turtle-crossing-game">
                    <img src="{{ url_for('static', filename='assets/image/crossing.png') }}"
                         alt="Turtle crossing game" width="100%" height="275"
                    class="img-responsive">
                        <div class="overlay">
                            <h2>Turtle crossing game</h2>
                        </div>
                        </a>
                </div>
            </div>
            <div class="col tag">
                 <div class="card shadow-sm image-container hovereffect">
                    <a href="https://github.com/NadyaEvdokimova/breakout_game">
                    <img src="{{ url_for('static', filename='assets/image/breakout game.png') }}"
                         alt="Breakout game" width="100%" height="275"
                    class="img-responsive">
                        <div class="overlay">
                            <h2>Breakout game</h2>
                        </div>
                        </a>
                </div>
            </div>
            <div class="col tag">
                 <div class="card shadow-sm image-container hovereffect">
                    <a href="https://github.com/NadyaEvdokimova/pong_game">
                    <img src="{{ url_for('static', filename='assets/image/ping pong.png') }}"
                         alt="Ping Pong game" width="100%" height="275"
                    class="img-responsive">
                        <div class="overlay">
                            <h2>Ping Pong game</h2>
                        </div>
                        </a>
                </div>
            </div>
            <div class="col tag">
                 <div class="card shadow-sm image-container hovereffect">
                    <a href="https://github.com/NadyaEvdokimova/space_invaders">
                    <img src="{{ url_for('static', filename='assets/image/space_invaders.png') }}"
                         alt="Space Invaders game" width="100%" height="275"
                    class="img-responsive">
                        <div class="overlay">
                            <h2>Space Invaders game</h2>
                        </div>
                        </a>
                </div>
            </div>
            <div class="col tag">
                 <div class="card shadow-sm image-container hovereffect">
                    <a href="https://github.com/NadyaEvdokimova/Typing-Speed-Test">
                    <img src="{{ url_for('static', filename='assets/image/typing speed test.png') }}"
                         alt="Typing Speed Test" width="100%" height="275"
                    class="img-responsive">
                        <div class="overlay">
                            <h2>Typing Speed Test</h2>
                        </div>
                        </a>
                </div>
            </div>
            <div class="col tag">
                 <div class="card shadow-sm image-container hovereffect">
                    <a href="https://github.com/NadyaEvdokimova/Watermark_App">
                    <img src="{{ url_for('static', filename='assets/image/watermark app.png') }}"
                         alt="Watermark App" width="100%" height="275"
                    class="img-responsive">
                        <div class="overlay">
                            <h2>Watermark App</h2>
                        </div>
                        </a>
                </div>
            </div>
            <div class="col tag">
                 <div class="card shadow-sm image-container hovereffect">
                    <a href="https://github.com/NadyaEvdokimova/Tic-Tac-Toe">
                    <img src="{{ url_for('static', filename='assets/image/tic_tac_toe.png') }}"
                         alt="Tic Tac Toe" width="100%" height="275"
                    class="img-responsive">
                        <div class="overlay">
                            <h2>Tic Tac Toe</h2>
                        </div>
                        </a>
                </div>
            </div>
        </div>
    </div>
    </fieldset>
</section>




{% include "footer.html" %}